Sensors_worflow.json
{"flowContents":{"identifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea","instanceIdentifier":"abfa22eb-019e-1000-5eaa-aac816dc4ce1","name":"Sensors_worflow","comments":"","position":{"x":-347.0,"y":-209.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"950b4f38-62c3-31c3-8127-8fabddc349e6","instanceIdentifier":"ba9cc344-d916-3658-acc1-f3935d198e5a","name":"ConsumeKafka","comments":"","position":{"x":-944.0,"y":944.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.9.0"},"properties":{"Topics":"NiFiworkflow","Commit Offsets":"true","Header Name Pattern":null,"Header Name Prefix":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"46d42d33-d47b-328b-b6a9-9ce72ca76823","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"group1","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Prefix":{"name":"Header Name Prefix","displayName":"Header Name Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"b3ab7624-7175-381c-b4fa-a67a3a375f16","instanceIdentifier":"2f762396-b101-345a-4904-9be3784cd81d","name":"PutMongo","comments":"","position":{"x":-112.0,"y":1280.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.9.0"},"properties":{"Upsert":"false","Update Query Key":null,"Update Method":"one","Mode":"insert","Update Mode":"doc","Mongo Collection Name":"Sensors_historic","Mongo Database Name":"NiFiworkflow","Client Service":"8b0b2dce-3950-3594-a405-b47a15d6b3a7","Update Query":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Method":{"name":"Update Method","displayName":"Update Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Mode":{"name":"Update Mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Query":{"name":"Update Query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","instanceIdentifier":"cf2985ab-86bd-341f-b985-3bb55fadbdf4","name":"PutMongo","comments":"","position":{"x":632.0,"y":1128.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.9.0"},"properties":{"Upsert":"true","Update Query Key":"bay_id","Update Method":"one","Mode":"update","Update Mode":"doc","Mongo Collection Name":"Sensors_lastupdate","Mongo Database Name":"NiFiworkflow","Client Service":"8b0b2dce-3950-3594-a405-b47a15d6b3a7","Update Query":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Method":{"name":"Update Method","displayName":"Update Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Mode":{"name":"Update Mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Query":{"name":"Update Query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","instanceIdentifier":"2e22750e-e571-37d1-7d5e-e32f28864b0c","name":"ConvertRecord","comments":"","position":{"x":-104.0,"y":960.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"af283895-8ba9-3704-8101-cdd4f7088898","Record Reader":"fa292e64-e9fb-3651-871c-35dc93848c56"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"07365296-2198-3128-be22-49cd674b1af5","instanceIdentifier":"1c7aba73-1e9d-3349-3fad-7a42f1ac12ed","name":"","source":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"ConvertRecord","comments":"","instanceIdentifier":"2e22750e-e571-37d1-7d5e-e32f28864b0c"},"destination":{"id":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"PutMongo","comments":"","instanceIdentifier":"cf2985ab-86bd-341f-b985-3bb55fadbdf4"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"4fb3754b-1759-311e-acf0-9846510b3b34","instanceIdentifier":"67c27e1f-22c0-3c1d-7dee-d001da4ccf03","name":"","source":{"id":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"PutMongo","comments":"","instanceIdentifier":"cf2985ab-86bd-341f-b985-3bb55fadbdf4"},"destination":{"id":"a697cea5-c0d8-36d7-827a-595a01c2b154","type":"FUNNEL","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"Funnel","comments":"","instanceIdentifier":"f16a6ab1-fa95-34c5-91db-708b6901f1dd"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"998092bf-8c7c-399b-993b-2680bb4f8641","instanceIdentifier":"f9e06e55-5334-3eac-9c1d-7429eb92c78b","name":"","source":{"id":"950b4f38-62c3-31c3-8127-8fabddc349e6","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"ConsumeKafka","comments":"","instanceIdentifier":"ba9cc344-d916-3658-acc1-f3935d198e5a"},"destination":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"ConvertRecord","comments":"","instanceIdentifier":"2e22750e-e571-37d1-7d5e-e32f28864b0c"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"90a0d33b-bf8d-3797-a3ca-9f2e0f9a7f85","instanceIdentifier":"9d1e6ef1-e06d-3ad6-1b8c-1164ad60ce0f","name":"","source":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"ConvertRecord","comments":"","instanceIdentifier":"2e22750e-e571-37d1-7d5e-e32f28864b0c"},"destination":{"id":"4f9709c5-10c3-3575-adfc-fa97b2cc9638","type":"FUNNEL","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"Funnel","comments":"","instanceIdentifier":"459eddef-95e9-38b8-8bc8-ce625e1ea797"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"b8589f59-6214-3c40-a11a-352c163bf635","instanceIdentifier":"d4dfb050-6594-3c77-2419-7843d2ac6317","name":"","source":{"id":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"PutMongo","comments":"","instanceIdentifier":"cf2985ab-86bd-341f-b985-3bb55fadbdf4"},"destination":{"id":"39c860a6-ba4d-3469-b14b-b40d96e1c9da","type":"FUNNEL","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"Funnel","comments":"","instanceIdentifier":"79228fae-9ea8-3847-fd97-c7b6ba90a07b"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"d4f347e3-52c7-3f15-b3d2-fea93f8518d3","instanceIdentifier":"0f71883f-0303-3c58-9229-befc3438166e","name":"","source":{"id":"b3ab7624-7175-381c-b4fa-a67a3a375f16","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"PutMongo","comments":"","instanceIdentifier":"2f762396-b101-345a-4904-9be3784cd81d"},"destination":{"id":"c4451ee8-c029-3012-867f-0b7efe84de3e","type":"FUNNEL","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"Funnel","comments":"","instanceIdentifier":"2798c025-61f7-3c7a-b74a-53153e400417"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"04715fa1-41ed-334a-a8c1-96fbef353eea","instanceIdentifier":"15c8d15c-18a8-3881-b9d6-094325b1f212","name":"","source":{"id":"b3ab7624-7175-381c-b4fa-a67a3a375f16","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"PutMongo","comments":"","instanceIdentifier":"2f762396-b101-345a-4904-9be3784cd81d"},"destination":{"id":"a455450d-3e68-33f2-9400-e8ac0895294f","type":"FUNNEL","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"Funnel","comments":"","instanceIdentifier":"0020ec12-e30e-33a8-a340-c00fbe64f56d"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"a4be22ae-1e97-3b3d-b5a7-24eda05b6838","instanceIdentifier":"850ea217-539f-300d-2c8f-e53444db3cba","name":"","source":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"ConvertRecord","comments":"","instanceIdentifier":"2e22750e-e571-37d1-7d5e-e32f28864b0c"},"destination":{"id":"b3ab7624-7175-381c-b4fa-a67a3a375f16","type":"PROCESSOR","groupId":"c88cb049-ac73-3510-82c1-81f47d5f14ea","name":"PutMongo","comments":"","instanceIdentifier":"2f762396-b101-345a-4904-9be3784cd81d"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"}],"labels":[],"funnels":[{"identifier":"c4451ee8-c029-3012-867f-0b7efe84de3e","instanceIdentifier":"2798c025-61f7-3c7a-b74a-53153e400417","position":{"x":-96.0,"y":1536.0},"componentType":"FUNNEL","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"39c860a6-ba4d-3469-b14b-b40d96e1c9da","instanceIdentifier":"79228fae-9ea8-3847-fd97-c7b6ba90a07b","position":{"x":608.0,"y":1408.0},"componentType":"FUNNEL","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"4f9709c5-10c3-3575-adfc-fa97b2cc9638","instanceIdentifier":"459eddef-95e9-38b8-8bc8-ce625e1ea797","position":{"x":208.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"a455450d-3e68-33f2-9400-e8ac0895294f","instanceIdentifier":"0020ec12-e30e-33a8-a340-c00fbe64f56d","position":{"x":192.0,"y":1576.0},"componentType":"FUNNEL","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"a697cea5-c0d8-36d7-827a-595a01c2b154","instanceIdentifier":"f16a6ab1-fa95-34c5-91db-708b6901f1dd","position":{"x":920.0,"y":1440.0},"componentType":"FUNNEL","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"}],"controllerServices":[{"identifier":"fa292e64-e9fb-3651-871c-35dc93848c56","instanceIdentifier":"8b39f7ef-91a3-3823-8f31-a780ffd26bb3","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"46d42d33-d47b-328b-b6a9-9ce72ca76823","instanceIdentifier":"4e1ec717-dce0-32f1-be1e-7a6aa592675d","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.9.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"af283895-8ba9-3704-8101-cdd4f7088898","instanceIdentifier":"05a3dfec-d59b-320c-752b-918da0999356","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-oneline","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"},{"identifier":"8b0b2dce-3950-3594-a405-b47a15d6b3a7","instanceIdentifier":"4ff8776d-46c4-33a8-abaa-8cda069f5ae2","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.9.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb://admin:1234@mongodb:27017/?directConnection=true&serverSelectionTimeoutMS=2000&authSource=admin&appName=mongosh+2.8.3","Database User":"admin","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c88cb049-ac73-3510-82c1-81f47d5f14ea"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}