Sensors_worflow.json
{"flowContents":{"identifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","instanceIdentifier":"abe516fa-019e-1000-b428-138ab4db7cb9","name":"Sensors_worflow","comments":"","position":{"x":-98.0,"y":-43.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"950b4f38-62c3-31c3-8127-8fabddc349e6","instanceIdentifier":"4038053f-4385-3775-e8eb-a6e9e950093b","name":"ConsumeKafka","comments":"","position":{"x":-944.0,"y":944.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.9.0"},"properties":{"Topics":"NiFiworkflow","Commit Offsets":"true","Header Name Pattern":null,"Header Name Prefix":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"46d42d33-d47b-328b-b6a9-9ce72ca76823","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"group1","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Prefix":{"name":"Header Name Prefix","displayName":"Header Name Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"b3ab7624-7175-381c-b4fa-a67a3a375f16","instanceIdentifier":"662860f2-03af-34ed-1ba2-c6189c933a53","name":"PutMongo","comments":"","position":{"x":-112.0,"y":1280.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.9.0"},"properties":{"Upsert":"false","Update Query Key":null,"Update Method":"one","Mode":"insert","Update Mode":"doc","Mongo Collection Name":"Sensors_historic","Mongo Database Name":"NiFiworkflow","Client Service":"8b0b2dce-3950-3594-a405-b47a15d6b3a7","Update Query":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Method":{"name":"Update Method","displayName":"Update Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Mode":{"name":"Update Mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Query":{"name":"Update Query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","instanceIdentifier":"bcbfbe75-a1de-3cd0-1145-b272f6b65028","name":"PutMongo","comments":"","position":{"x":632.0,"y":1128.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"2.9.0"},"properties":{"Upsert":"true","Update Query Key":"bay_id","Update Method":"one","Mode":"update","Update Mode":"doc","Mongo Collection Name":"Sensors_lastupdate","Mongo Database Name":"NiFiworkflow","Client Service":"8b0b2dce-3950-3594-a405-b47a15d6b3a7","Update Query":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Method":{"name":"Update Method","displayName":"Update Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Mode":{"name":"Update Mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Service":{"name":"Client Service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Update Query":{"name":"Update Query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","instanceIdentifier":"c3eadb3b-7d44-316e-3f51-239fa78e5e60","name":"ConvertRecord","comments":"","position":{"x":-104.0,"y":960.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"af283895-8ba9-3704-8101-cdd4f7088898","Record Reader":"fa292e64-e9fb-3651-871c-35dc93848c56"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"07365296-2198-3128-be22-49cd674b1af5","instanceIdentifier":"2a024cf8-246a-3356-043a-3a691e3c4d72","name":"","source":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"ConvertRecord","comments":"","instanceIdentifier":"c3eadb3b-7d44-316e-3f51-239fa78e5e60"},"destination":{"id":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"PutMongo","comments":"","instanceIdentifier":"bcbfbe75-a1de-3cd0-1145-b272f6b65028"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"4fb3754b-1759-311e-acf0-9846510b3b34","instanceIdentifier":"4be7def2-8543-36c9-6d39-f847c78f0a38","name":"","source":{"id":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"PutMongo","comments":"","instanceIdentifier":"bcbfbe75-a1de-3cd0-1145-b272f6b65028"},"destination":{"id":"a697cea5-c0d8-36d7-827a-595a01c2b154","type":"FUNNEL","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"Funnel","comments":"","instanceIdentifier":"6af2a8ca-4c22-3a94-9712-d90c9ac90b7d"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"90a0d33b-bf8d-3797-a3ca-9f2e0f9a7f85","instanceIdentifier":"85b078be-f040-3c85-f422-f6aaae7d3321","name":"","source":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"ConvertRecord","comments":"","instanceIdentifier":"c3eadb3b-7d44-316e-3f51-239fa78e5e60"},"destination":{"id":"4f9709c5-10c3-3575-adfc-fa97b2cc9638","type":"FUNNEL","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"Funnel","comments":"","instanceIdentifier":"cc68c893-e4fa-3be4-d666-f7d6fbf0acd3"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"998092bf-8c7c-399b-993b-2680bb4f8641","instanceIdentifier":"85619cf6-92cc-31a5-df3a-0d7e5473c910","name":"","source":{"id":"950b4f38-62c3-31c3-8127-8fabddc349e6","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"ConsumeKafka","comments":"","instanceIdentifier":"4038053f-4385-3775-e8eb-a6e9e950093b"},"destination":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"ConvertRecord","comments":"","instanceIdentifier":"c3eadb3b-7d44-316e-3f51-239fa78e5e60"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"b8589f59-6214-3c40-a11a-352c163bf635","instanceIdentifier":"8251a63e-01e0-37ff-256b-51a51e122e6f","name":"","source":{"id":"5ff4b6b5-37af-38e9-b5cb-e744c72b7883","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"PutMongo","comments":"","instanceIdentifier":"bcbfbe75-a1de-3cd0-1145-b272f6b65028"},"destination":{"id":"39c860a6-ba4d-3469-b14b-b40d96e1c9da","type":"FUNNEL","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"Funnel","comments":"","instanceIdentifier":"3ed47daf-0cfe-3f8d-aa48-408e049ae0d1"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"d4f347e3-52c7-3f15-b3d2-fea93f8518d3","instanceIdentifier":"0beef958-f7c6-3625-2600-a84d925d9d8f","name":"","source":{"id":"b3ab7624-7175-381c-b4fa-a67a3a375f16","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"PutMongo","comments":"","instanceIdentifier":"662860f2-03af-34ed-1ba2-c6189c933a53"},"destination":{"id":"c4451ee8-c029-3012-867f-0b7efe84de3e","type":"FUNNEL","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"Funnel","comments":"","instanceIdentifier":"06e276c0-9e0a-363b-534d-a8f947f0f066"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"04715fa1-41ed-334a-a8c1-96fbef353eea","instanceIdentifier":"1f07e870-f698-3dad-00d7-c9f42afae459","name":"","source":{"id":"b3ab7624-7175-381c-b4fa-a67a3a375f16","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"PutMongo","comments":"","instanceIdentifier":"662860f2-03af-34ed-1ba2-c6189c933a53"},"destination":{"id":"a455450d-3e68-33f2-9400-e8ac0895294f","type":"FUNNEL","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"Funnel","comments":"","instanceIdentifier":"3041ac65-e05c-3c74-ed7f-0f11c4ba4ee9"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"a4be22ae-1e97-3b3d-b5a7-24eda05b6838","instanceIdentifier":"6ad102e6-8453-3463-fba3-81000101c1c1","name":"","source":{"id":"a5afef92-4709-3ed5-a469-ca9dafb5ab98","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"ConvertRecord","comments":"","instanceIdentifier":"c3eadb3b-7d44-316e-3f51-239fa78e5e60"},"destination":{"id":"b3ab7624-7175-381c-b4fa-a67a3a375f16","type":"PROCESSOR","groupId":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3","name":"PutMongo","comments":"","instanceIdentifier":"662860f2-03af-34ed-1ba2-c6189c933a53"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"}],"labels":[],"funnels":[{"identifier":"c4451ee8-c029-3012-867f-0b7efe84de3e","instanceIdentifier":"06e276c0-9e0a-363b-534d-a8f947f0f066","position":{"x":-96.0,"y":1536.0},"componentType":"FUNNEL","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"39c860a6-ba4d-3469-b14b-b40d96e1c9da","instanceIdentifier":"3ed47daf-0cfe-3f8d-aa48-408e049ae0d1","position":{"x":608.0,"y":1408.0},"componentType":"FUNNEL","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"4f9709c5-10c3-3575-adfc-fa97b2cc9638","instanceIdentifier":"cc68c893-e4fa-3be4-d666-f7d6fbf0acd3","position":{"x":208.0,"y":608.0},"componentType":"FUNNEL","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"a455450d-3e68-33f2-9400-e8ac0895294f","instanceIdentifier":"3041ac65-e05c-3c74-ed7f-0f11c4ba4ee9","position":{"x":192.0,"y":1576.0},"componentType":"FUNNEL","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"a697cea5-c0d8-36d7-827a-595a01c2b154","instanceIdentifier":"6af2a8ca-4c22-3a94-9712-d90c9ac90b7d","position":{"x":920.0,"y":1440.0},"componentType":"FUNNEL","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"}],"controllerServices":[{"identifier":"fa292e64-e9fb-3651-871c-35dc93848c56","instanceIdentifier":"abe67d1c-019e-1000-a7e9-44171c41e310","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"46d42d33-d47b-328b-b6a9-9ce72ca76823","instanceIdentifier":"abe540f9-019e-1000-2938-dcf05c5193b5","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.9.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"af283895-8ba9-3704-8101-cdd4f7088898","instanceIdentifier":"abe69484-019e-1000-8d79-1eabb94b0e47","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-oneline","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"},{"identifier":"8b0b2dce-3950-3594-a405-b47a15d6b3a7","instanceIdentifier":"abe6a993-019e-1000-8207-2dcbc0e3eb6e","name":"MongoDBControllerService","comments":"","type":"org.apache.nifi.mongodb.MongoDBControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-services-nar","version":"2.9.0"},"properties":{"SSL Context Service":null,"Mongo URI":"mongodb://admin:1234@192.168.1.77:27017/?directConnection=true&serverSelectionTimeoutMS=2000&authSource=admin&appName=mongosh+2.8.3","Database User":"admin","Write Concern":"ACKNOWLEDGED"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.mongodb.MongoDBClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-client-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6336f5d2-444b-3bbb-b3ac-1f2a13f6baf3"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}